doctype html
html(ng-app="app")
  head
    meta(http-equiv="x-ua-compatible", content="ie=10")

    title= title
    link(rel='stylesheet', href='/vendor/angular-material/angular-material.min.css')
    link(rel='stylesheet', href='/vendor/angular-material-data-table/dist/md-data-table.min.css')
    link(rel='stylesheet', href='/cssfont/material-icons.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

    script(src="/vendor/angular/angular.js")
    script(src="/libs/pdfobject.js")

    script(src="/vendor/angular-aria/angular-aria.min.js")
    script(src="/vendor/angular-animate/angular-animate.min.js")
    script(src="/vendor/angular-messages/angular-messages.min.js")
    script(src="/vendor/angular-material/angular-material.min.js")
    script(src="/vendor/angular-material-data-table/dist/md-data-table.min.js")
    script(src="/vendor/angular-ui-router/release/angular-ui-router.min.js")

    script(src="/javascripts/App.js")
    script(src="/javascripts/MainCtrl.js")
    script(src="/javascripts/NavBarCtrl.js")
    script(src="/javascripts/PreviewCtrl.js")
    script(src="/javascripts/DocumentCtrl.js")
    script(src="/javascripts/DocumentService.js")
    script(src="/javascripts/PreviewService.js")
    script(src="/javascripts/LoginCtrl.js")
    script(src="/javascripts/LoginService.js")
    script(src="/javascripts/PdfObject.js")

  body
    md-toolbar
      .md-toolbar-tools
        md-button.md-icon-button(aria-label="Home")
          md-icon.material-icons home
        h2
          span kDocument System

    block content
